body {
  background-color: #726d73;
}

h2 {
  color: white;
  margin: 2rem;
  padding: 5rem;
}

.active {
  background-color: white;
  height: 50vh;
}

.activeFont {
  color: black;
}

.btn {
  position: absolute;
  margin-top: -1.5rem;
}

.nextUp {
  background-color: black;
  height: 50vh;
}

.nextUpFont {
  color: white;
}
